spawn-sh-at-startup "waybar"

spawn-sh-at-startup "foot --server"

spawn-sh-at-startup "mako"

spawn-sh-at-startup "wlsunset -S 07:00 -s 18:00 -t 3500 -T 6500 -d 1800"

spawn-at-startup "~/.config/niri/scripts/wallpaper.sh"

spawn-sh-at-startup "awww-daemon"
