layer-rule {
  match namespace="awww"
  opacity 0.8
  background-effect {
	blur false
    }
}

layer-rule {
  match namespace="nybbletime"
  geometry-corner-radius 34

  shadow {
        on
		softness 10
        spread 0
        draw-behind-window false
        color "rgba(0,0,0,0.596)"
        offset x=0 y=2
    }

  background-effect {
	blur true
	saturation 0
    }
}

layer-rule {
  match namespace="rofi"
  geometry-corner-radius 21

  shadow {
        on
        draw-behind-window false
    }

  background-effect {
	blur true
	xray false
	saturation 0
    }
}

layer-rule {
  match namespace="notifications"
  geometry-corner-radius 18
  baba-is-float true
  opacity 0.7

  shadow {
	on
	draw-behind-window true
	softness 10
	spread 1
	color "#00000059"
	offset x=0 y=8

    }

  background-effect {
	blur true
	xray false
	saturation 0
    }
}

layer-rule {
  match namespace="waybar"
  geometry-corner-radius 17

  popups {
	background-effect {
	  blur true
	  xray false
	  saturation 0
        }
    }

  shadow {
        on
		softness 10
        spread 0
        draw-behind-window false
        color "rgba(0,0,0,0.596)"
        offset x=0 y=0
    }

  background-effect {
	blur true
	xray false
	saturation 0
    }
}
