layout {
  gaps 10
  //center-focused-column "never"

  //default-column-display "tabbed"
  background-color "transparent"

  insert-hint {
	color "#ffc87f80"
	gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
  }

  focus-ring {
	width 1
	active-color "#505050"
	//active-gradient from="#ffffff30" to="#00000090" angle=120 relative-to="workspace-view"
  }
  shadow {
	on
	softness 24
	spread 4
	offset x=0 y=8
	color "#00000090"

	inactive-color "transparent"
  }
}
