layout {

    always-center-single-column
    background-color "transparent"
    shadow {
	  on
	  softness 8
	  spread 3
	  offset x=0 y=2
	  draw-behind-window true
	  color "#00000094"
	  inactive-color "#00000034"
    }

    focus-ring {
		on
        width 2
        inactive-color "#00000014"
		active-color "rgb(39,39,39)"
		//active-gradient from="rgb(60,60,60)" to="rgb(50, 50, 50)" angle=180 in="srgb-linear"
    }

    struts {
        right 8
        top 8
        bottom 8
    }

    gaps 12
}

window-rule {
    geometry-corner-radius 17
    clip-to-geometry true
}


recent-windows {
    open-delay-ms 0

    highlight {
        corner-radius 10
    }
}
