layout {
  gaps 10
  //center-focused-column "always"

  //default-column-display "tabbed"
  background-color "transparent"

  insert-hint {
	color "#ffc87f80"
	gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
  }

  focus-ring {
	width 2

	//active-gradient from="rgba(20, 20, 20, 0.4)" to="rgba(10, 10, 10, 0.4)" angle=360 relative-to="workspace-view"
	active-gradient from="rgba(20, 20, 20, 0.4)" to="rgba(10, 10, 10, 0.4)" angle=180 relative-to="workspace-view"

  }

  shadow {
	on
	inactive-color "transparent"

	//softness 1
	spread 0
	color "#000000"

  }
}
