window-rule {
  geometry-corner-radius 15
  clip-to-geometry true
  draw-border-with-background false
}

recent-windows {
    open-delay-ms 0

    highlight {
        corner-radius 20
    }
}

layer-rule {
  match namespace="binary-clock"
  geometry-corner-radius 28

  shadow {
	on
	color "#00000090"
  }

  background-effect {
	blur true
	xray true
 }

}

layer-rule {
  match namespace="rofi"
  geometry-corner-radius 21

  shadow {
        on
    }

  background-effect {
	blur true
	xray false
  }

}

window-rule {
  match app-id="footclient"

  background-effect {
	blur true
	xray true
  }

}

window-rule {
  match app-id="xdg-desktop-portal-gtk"
  geometry-corner-radius 17

  default-column-width { proportion 0.6; }
  default-window-height { proportion 0.6; }

  opacity 0.8

  background-effect {
	blur true
	xray false
  }
}


window-rule {
  match app-id="foot-float"
  open-floating true

  default-column-width { proportion 0.7; }
  default-window-height { proportion 0.7; }

  shadow {
        on
	 color "#00000090"

    }

  background-effect {
    blur true
    xray false
  }

}

layer-rule {
  match namespace="notifications"
  geometry-corner-radius 20
  baba-is-float true
  opacity 0.7

  shadow {
	on
  }

  background-effect {
	blur true
	xray false
  }

}

window-rule {
  match app-id="org.pulseaudio.pavucontrol"
  open-floating true
  opacity 0.8

  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.5; }

  popups {
	background-effect {
	  blur true
	  xray false
	}
  }

  background-effect {
    blur true
    xray false
  }

}

window-rule {
  match app-id="nvidia-settings"
  open-floating true
  opacity 0.8

  default-column-width { proportion 0.6; }
  default-window-height { proportion 0.6; }

  popups {
	background-effect {
	  blur true
	  xray false
	}
  }

  background-effect {
    blur true
    xray false
  }

}

window-rule {
  match app-id="org.kde.dolphin"
  open-floating true
  opacity 0.9

  default-column-width { proportion 0.6; }
  default-window-height { proportion 0.6; }

  popups {
	background-effect {
	  blur true
	  xray false
	}
  }

  background-effect {
    blur true
    xray false
  }

}
window-rule {
  match app-id="Waydroid"
  open-fullscreen true
}

layer-rule {
  match namespace="waybar"
  geometry-corner-radius 16

  popups {
	background-effect {
	  blur true
	  xray false
	}
  }

  shadow {
	on
	softness 20
	spread 1
	offset x=0 y=0
    color "#00000090"
  }

  background-effect {
	blur true
	xray false
  }

}
