window-rule {
  geometry-corner-radius 17
  clip-to-geometry true
  tiled-state true
  draw-border-with-background false
}

window-rule {
  match app-id=r#"xfce4-appfinder"#
  opacity 0.7
  open-floating true
  geometry-corner-radius 20
  background-effect {
	blur true
	xray true
	saturation 2
  }
}

layer-rule {
    match layer="background"
    place-within-backdrop true
}

layer-rule {
  match namespace="waybar"

  geometry-corner-radius 20
  background-effect {
	blur true
	xray false
	saturation 2
  }
}

