.config/yay
.config/cmus
.config/htop
.config/nemo
.config/dconf
.config/pulse
.config/procps
.config/gtk-3.0
.config/lazygit
.config/systemd
.config/inkscape
.config/Google
.config/FreeTube
.config/flameshot
.config/QtProject.conf
.config/heroic
.local/bin/freetube
.local/bin/heroic
.local/bin/gf2
.local/bin/localSend
.local/bin/budsConnect
.local/icon/freetube.svg
.local/icon/localsend.png
.config/mimeapps.list
.config/pipewire
.config/btop/
.config/pavucontrol.ini
