.config/yay
.config/cmus
.config/htop
.config/nemo
.config/dconf
.config/pulse
.config/procps
.config/gtk-3.0
.config/lazygit
.config/systemd
.config/inkscape
.config/Google
.config/FreeTube
.config/flameshot
.config/QtProject.conf
.local/bin/freetube
.local/icon/freetube.svg
.config/btop/
