.config/yay
.config/cmus
.config/htop
.config/nemo
.config/dconf
.config/pulse
.config/procps
.config/gtk-3.0
.config/lazygit
.config/hypr/hyprland.conf
.config/systemd
.config/inkscape
.config/Google
.config/FreeTube
.config/flameshot
.config/QtProject.conf
.config/heroic
.config/mimeapps.list
.config/pipewire
.config/btop/
.config/dlv
.config/audacity/
.config/pavucontrol.ini
.config/go
.config/obs-studio
.config/gf2_config.ini
.config/fontconfig
.config/gtk-4.0
.config/qt5ct
.config/awesome/devTest

.local/bin/yt-dlp
.local/bin/opencode
.local/bin/leetcode
.local/bin/freetube
.local/bin/heroic
.local/bin/dlv
.local/bin/gf2
.local/bin/localSend
.local/bin/budsConnect
.local/icon/freetube.svg
.local/icon/localsend.png
