* {
  border: none;
  font-family: "JetBrain Mono";
  font-size: 14px;
  font-weight: 600;
  background: none;
}

window#waybar {
  color: #a5adcb;
}
.modules-left,
.modules-right,
.modules-center {
    border-radius: 10px;
    background: #181926;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}



/* TOOL TIP CSS */
/* ================================================ */
tooltip {
  color: #a5adcb;
  background-color: #181926;
  text-shadow: none;
}

tooltip * {
  color: #a5adcb;
  text-shadow: none;
}

/* LEFT MODULE CSS WORKSPACE */
/* ============================================== */
#workspaces {
  border-radius: 4px;
}
#workspaces button {
  color: #5b6078;
  background: none;
  padding: 0;
}
#workspaces button.active {
  color: #f5bde6;
}



/* MIDDLE WAYBAR MOBULS CSS */
/* ================================================== */
.modules-center {
}

#bluetooth {
  padding:0px 5px 0px 10px;
}

#bluetooth:hover{
  color: #8aadf4;
}
#bluetooth.off{
    color: white;
}
#bluetooth.on{
  color: #8aadf4;
}

#clock {
  font-weight: 600;
  color: #8bd5ca;
  margin-right: 10px;
}

#network{
  margin:0px 20px 0px 0px;
}
#network:hover{
    color:#8aadf4;
}

#network.linked,
#network.ethernet,
#network.wifi{
  color: #8aadf4;
}

/* RIGHT SIDE MODULE CSS */
/* ========================================== */
#workspaces,
#cpu,
#temperature,
#battery,
#backlight
{
    padding: 0 13px 0 10px;
}


/* ============================ */
/* CSS FOR TEMPERATURE */
/* ============================ */
#temperature.critical{
    color: red;
}

/* ============================ */
/* CSS FOR AUDIO */
/* ============================ */
#pulseaudio {
  color: #a6da95;
  margin-right: 10px;
}

#pulseaudio.muted {
  color: #ed8796;
}


/* ============================ */
/* CSS FOR POWER */
/* ============================ */
#power-profiles-daemon{
    padding: 0 10px 0 10px;
}
#power-profiles-daemon.power-saver{
    color: green;
}
#power-profiles-daemon.performance{
    color: red;
}

/* ============================ */
/* CSS FOR BATTERY */
/* ======================= */
#battery.good{
    color:white;
}
#battery.warning{
    color:yellow;
}
#battery.critical{
    color:red;
}

#battery.charging {
    color: #26A65B;
}
#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
