entry {
	placeholder: " 󰥗\t Search applications…";
	padding: 8px;
	text-color: #c0caf5;
    font: "SF Pro Rounded Semibold 11";
}

configuration {
	modi: "drun,filebrowser,window";
	display-drun: "Applications";
    display-filebrowser: "Browse Files";
    display-window: "Switch Window";
    font: "SF Pro Rounded Semibold 11";
	case-sensitive: false;
	cycle: false;
	filter: "";
	scroll-method: 0;
	show-icons: true;

    drun-display-format: " <b> {name} </b> <span color='#c0caf580' weight='Semibold' size='small'> <i>( {comment} )</i> </span> ";

	sidebar-mode: true;
	icon-theme: "oxygen";
	window-thumbnail: true;
}

mode-switcher {
    enabled: true;
    spacing: 8px;
    padding: 0px 0px;
}

button {
    padding: 8px 20px;
    border-radius: 12px;
	background-color: rgba(255,255,255, 8%);
    text-color: #f2f2f280;
}

button selected {
	text-color: #c0caf0CC;
}

inputbar {
	border-radius: 10px;

	border: 1px;
	border-color: rgba(81, 81, 81, 0.4);

	background-color: rgba(255,255,255, 8%);

    children: [ entry ];

}

* {
	separatorcolor: transparent;
	selected-normal-background: rgba(255,255,255, 8%);
	normal-background: rgba(255,255,255, 0%);
	alternate-normal-background: rgba(255,255,255, 0%);
}

mainbox {
	border: 0px;
	border-color: #565f89;
	padding: 10px;
}

window {
	border: 2px solid;
	border-radius: 20px;
	border-color: rgb(78, 78, 78);
	background-color: rgba(17, 18, 29, 70%);
	padding: 0px;
	width: 35%;

	location: center;

}

listview {
	lines: 6;
    scrollbar: false;
	dynamic: true;
}

element {
	padding: 10px 10px;
	height: 50px;
	border-radius: 13px;
	children: [element-icon, element-text];
}

element-icon {
    size: 1.2em;
}

element-text {
	text-color: #c0caf0CC;
}
