configuration {
	filebrowser {
	  directory: "~/";
	  sorting-method: "name";
	  directories-first: true;
	  show-hidden: false;
	  cancel-returns-1: true;
	  command: "xdg-open";
	}

	modi: "drun,window,filebrowser";
	case-sensitive: false;
	cycle: true;
	filter: "";
	scroll-method: 0;
	show-icons: true;

	display-drun: " ";
	drun-match-fields: "name,generic,exec,categories,keywords";
	drun-display-format: "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
	drun-show-actions: false;
	drun-url-launcher: "xdg-open";
	drun-use-desktop-cache: false;
	drun-reload-desktop-cache: false;
	drun {
	  parse-user:   true;
	  parse-system: true;
	}
}

@theme "~/.config/rofi/theme.rasi"
