entry {
	placeholder: "  Search";
	padding: 8px 0 8px 8px;
	text-color: #c0caf5;
}

configuration {
	filebrowser {
	  directory: "~/";
	  sorting-method: "name";
	  directories-first: true;
	  show-hidden: false;
	  cancel-returns-1: true;
	  command: "xdg-open";
	}

	modi: "drun,window,filebrowser";
	case-sensitive: false;
	cycle: true;
	filter: "";
	scroll-method: 0;
	show-icons: true;
}

inputbar {
	border-radius: 11px;
	border: 2px solid;
	border-color: #565f89;
    children: [ entry ];
}

* {
	separatorcolor: transparent;
	selected-normal-background: rgba(255,255,255, 5%);
	normal-background: rgba(255,255,255, 0%);
	alternate-normal-background: rgba(255,255,255, 0%);
}

mainbox {
	border: 2px;
	border-color: #565f89;
	border-radius: 10px;
	padding: 10px;
}

window {
	border-radius: 11px;
	background-color: rgba(29, 32, 47, 85%);
	padding: 0px;
	width: 35%;

	location: center;

}


listview {
	lines: 8;
}
element-icon {
    size: 1.2em;
}
element {
	padding: 10px 10px;
	height: 50px;
	border-radius: 5px;
	children: [ element-icon, element-text ];
}

element-text {
	text-color: #c0caf5;
}

#scrollbar {
	handle-color: #3a3f4a;
	handle-width: 4px ;
	padding: 0;
}
