include "./cfg/autostart.kdl"
include "./cfg/binds.kdl"
include "./cfg/input.kdl"
include "./cfg/layout.kdl"
include "./cfg/window_rule.kdl"
include "./cfg/layer_rule.kdl"
include "./cfg/misc.kdl"
include "./cfg/animation.kdl"
