* {

  background:       #0E100FBF;
  tag-background:   #0E100F;
  foreground:		#393B39;
  text-color:		#393B39;
  border-color:		#248CA240;
  arg-bar:			#847984;
  tag-color:		#C4932B;
  selected:			#7AAF3E20;
  warning:			#95B0D9;
  success:			#A3E7D4;

  border:			#8CA49E40;
  text-dim:			#8CA49EB3;
  text-faint:		#248CA2;
  text-muted:		#847984;
  text-border:		#C4932B;
  arg-bg:			#7AAF3E;
  arg-border:		#95B0D9;
}
