[user]
showPreviews=false
showWindowCount=false
indicatorStyle=4
indicatorColorFromTheme=false
forceIconSize=true
keyComboActive=false
keyAloneActive=false
noWindowsListIfSingle=false
onlyDisplayVisible=false
pinned=xfce4-web-browser;xfce4-terminal;xfce4-appfinder;xfce4-file-manager;
inactiveIndicatorStyle=4
indicatorOrientation=0
iconSize=54
inactiveColor=rgb(229,165,10)
indicatorColor=rgb(38,162,105)
dockSize=1
